/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 0 auto;
}

/* funzionalità */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.float-left{
    float: left;
}

/* stile */

header *{
    margin: 30px auto;
}

.header-top{
    height: 150px;
    background-color: purple;
}

.header-bottom{
    height: 500px;
    background-color: goldenrod;
}

main{
    background-color: rgb(21, 21, 139);
}

main *{
    background-color: cadetblue;
}

.main-header{
    height: 150px;
    margin-bottom: 30px;
}

.main-container{
    margin: 30px 0;
    background-color: transparent;
}

.main-container *{
    height: 400px;
    margin-bottom: 30px;
}

.sidebar{
    width: 25%;
}

.content{
    width: calc(50% - 60px);
    margin: 0 30px;
}
